body{
  font-family: 'Oswald', sans-serif;
  background-color:#f4f9ff;

  text-align: center;
}
.result {
  display: none;
}
.container {
  background: linear-gradient(#fff3ea,#f4f9ff );
}
.questionHeader{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #d1e1fc;
}

#header{
  padding:50px;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size:cover;
}

#header h1{
  font-size: 700%;
}
#header h3{
  font-size: 300%;
}
.centered {
   display: inline-block;
}

.col-md-4{
  margin: 10px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 5px solid #a3c6ff;
}

.bgImage{
  position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: 100%;
}

figure img:hover{
  -webkit-transition: all .3s;
-moz-transition: all .3s;
-o-transition: all .3s;
    transform: scale(1.05);
    cursor: pointer; cursor: hand;
}

.description {
  background: rgba(255,255,255,0.7);
  padding: 10px;
  color: black;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  left: 0px;
  width: 100%;
  font-size: 150%;
}

form button {
padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 300%;
}

input {
 transform: scale(1.2);
}

.result{
  padding-bottom: 30px;

}
