body{

}
.container {
  background-color:#f4f9ff;
font-family: 'Oswald', sans-serif;
  text-align: center;
}

#header{

  padding:50px;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
}

#header h1{
  font-size: 700%;
}
#header h3{
  font-size: 300%;
}
.centered {
   display: inline-block;
}

.col-md-4{
  margin: 10px;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.bgImage{
  position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: auto;
    width: auto;
}

figure img:hover{
  -webkit-transition: all .3s;
-moz-transition: all .3s;
-o-transition: all .3s;
    transform: scale(1.05);
    cursor: pointer; cursor: hand;
}

.description {
  background: rgba(255,255,255,0.7);
  padding: 10px 16px;
  color: black;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  left: 0px;
  width: 100%;
}
